<ion-view view-title="Logbooks">
	<ion-content ng-controller="LogbookCtrl" class="padding">
		<!-- Daily / Command / Language -->
		<ion-list class="zestCard" style="">
			<ion-item class="item-thumbnail-right" href="#/book/cordova1">
			    <img ng-src="https://upload.wikimedia.org/wikipedia/commons/3/34/Android_Studio_icon.svg" >
			    <h2>Find the way to access android native API in Ionic part1</h2>
			    <h3>
			    	Install Android Studio
			    </h3>
			    <p>
			      <span>2015-12-08</span> - zestlifia
			    </p>
			    <div class="zestCardLine"></div>
			</ion-item>

			<ion-item class="item-thumbnail-right" href="#/book/cordova2">
			    <img ng-src="https://camo.githubusercontent.com/a0fe95b9427fefe394531ad3fdd256bf2c617e6a/687474703a2f2f696f6e69636672616d65776f726b2e636f6d2f696d672f6e67636f72646f76612d636f6e746578742d6c6f676f2e706e67" >
			    <h2>Find the way to access android native API in Ionic part2</h2>
				<h3>
			    	ngCordova
			    </h3>
			    <p>
			      <span>2015-12-09</span> - zestlifia
			    </p>
			    <div class="zestCardLine"></div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>